@using Gasforbrug.BlazorUI.Data
@using Gasforbrug.BlazorUI.Infrastructure
@inject NotifierService Notifier
@inject ReadingRepository BrowserStorage

<h2>Aflæs</h2>
<Validations @ref="validations" Mode="ValidationMode.Manual" Model="@reading">
    <p>
        <label for="Date">
            Dato:<br />
            <Validation>
                <Field>
                    <DateEdit @bind-Date="reading.Date">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </DateEdit>
                </Field>
            </Validation>
        </label>
    </p>
    <p>
        <label for="reading">
            Aflæst værdi: <br />
            <Validation>
                <Field>
                    <NumericPicker DecimalSeparator="," Decimals="3" Min="0" SelectAllOnFocus="true" @bind-Value="reading.Value">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </NumericPicker>
                </Field>
            </Validation>
        </label>
    </p>
</Validations>

<Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="@AddReading" id="add-reading">Tilføj aflæsning</Button>

@code {
    private ReadingStorageModel reading = new() { Date = DateTime.Now };
    private Validations? validations = new();

    private async Task AddReading()
    {
        if (validations is null)
            return;

        if (await validations.ValidateAll())
        {
            await BrowserStorage.Add(reading);
            await Notifier.Update("readingAdded", 0);
            reading = new() { Date = DateTime.Now };
        }
    }
}
