@page "/"
@using Gasforbrug.BlazorUI.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.ComponentModel.DataAnnotations
@inject ProtectedLocalStorage BrowserStorage
@inject NotifierService Notifier

<PageTitle>Mit gasforbrug</PageTitle>

<h1>Mit gasforbrug</h1>

<AddReadingView />

<ReadingsListView />

@code {

}