@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage

<PageTitle>Mit gasforbrug</PageTitle>

<h1>Mit gasforbrug</h1>
<h2>Aflæs</h2>
<EditForm Model="@reading" OnValidSubmit="@AddReading" class="mb-5">
    <p>
        <label for="Date">
            Dato:<br />
            <InputDate id="date" @bind-Value="reading.Date" />
        </label>
    </p>
    <p>
        <label for="Value">
            Aflæst værdi: <br />
            <InputNumber id="value" @bind-Value="reading.Value" />
        </label>
    </p>
    <button id="add-reading" type="submit">Tilføj aflæsning</button>
</EditForm>

<h2>Tidligere aflæst</h2>
<div class="container m-lg-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dato</th>
                <th scope="col" class="text-end">m<sup>3</sup></th>
            </tr>
        </thead>
        @foreach(var item in allReadings) 
        {
        <tr>
            <td>@item.Date.ToString("d. MMM")</td>
            <td class="text-end">@item.Value.ToString("N3")</td>
        </tr>
        }
    </table>
</div>

@code {
    private Reading reading = new() { Date = DateTime.Now };
    private List<Reading> allReadings = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var fromStorage = await BrowserStorage.GetAsync<List<Reading>>("readings");
        allReadings = fromStorage.Success ? fromStorage.Value : new List<Reading>();
        StateHasChanged();
    }

    private async Task AddReading()
    {
        allReadings.Add(reading);
        await BrowserStorage.SetAsync("readings", allReadings);

        if (reading.Date == default || reading.Value == default)
            throw new Exception("This is bad!");

        Console.WriteLine($"Date: {reading.Date.ToString()} - Value: {reading.Value}");
        reading = new() { Date = DateTime.Now };
    }

    public sealed class Reading
    {
        public DateTime Date { get; set; }
        public decimal Value { get; set; }
    }
}