@page "/"

<PageTitle>Mit gasforbrug</PageTitle>

<h1>Mit gasforbrug</h1>

<EditForm Model="@reading" OnValidSubmit="@AddReading">
    <InputDate id="date" @bind-Value="reading.Date" />
    <InputNumber id="value" @bind-Value="reading.Value" />
    <button id="add-reading" type="submit">Tilføj aflæsning</button>
</EditForm>

@code {
    private Reading reading = new() { Date = DateTime.Now };

    private void AddReading()
    {
        Console.WriteLine($"Date: {reading.Date.ToString()} - Value: {reading.Value}");
        reading = new() { Date = DateTime.Now };
    }

    private class Reading
    {
        internal DateTime Date { get; set; }
        internal decimal Value { get; set; }
    }
}